@page
@using IdentityClass.Dto
@model LoginDto

@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<h3 class="text-center mb-3">Login</h3>
<form id="registerForm" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <!-- Email -->
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Enter your email</label>
        <input asp-for="Email" class="form-control rounded-pill" autocomplete="email" placeholder="example@gmail.com" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Password -->
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Create a password</label>
        <input asp-for="Password" class="form-control rounded-pill" autocomplete="new-password" placeholder="••••••••" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <small><a asp-page="./ForgotPassword">Forgot your password?</a></small>
    </div>
   

    <!-- Submit Button -->
    <button id="registerSubmit" type="submit" class="btn btn-primary w-100 rounded-pill">Login</button>
</form>

@* <div class="text-center mt-3">
    <small>You haven't an account? <a asp-page="./Register">Register now</a></small>
</div> *@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
